{{# if successs}}
<div id="success" class="alert alert-success">
    {{successs}}
</div>
{{/if}}
{{# if successt}}
    <div id="success" class="alert alert-success">
        {{successt}}
    </div>
{{/if}}

{{# if msgs}}
    <div class="alert alert-danger">
        {{msgs}}
    </div>
{{/if}}
{{# if msgt}}
    <div class="alert alert-danger">
        {{msgt}}
    </div>
{{/if}}
<h1 align="center">Students Section</h1>
<hr>
<div style="width:900px; margin:0 auto;">
    <br>
    <br>
    <a href="/add/student" class="btn btn-success btn-lg active" role="button">Add Student</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/update/student" class="btn btn-info btn-lg active" role="button">Update Student</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/remove/student" class="btn btn-danger btn-lg active" role="button">Delete Student</a>

</div>
<br>
<br>
<br>
<h1 align="center">Teachers Section</h1>
<hr>
<div style="width:900px; margin:0 auto;">
    <br>
    <br>
    <a href="/add/teacher" class="btn btn-success btn-lg active" role="button">Add Teacher</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href="/update/teacher" class="btn btn-info btn-lg active" role="button">Update Teacher</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href="/update/teacher" class="btn btn-danger btn-lg active" role="button">Delete Teacher</a>

</div>
